Repository ably/ably-asset-tracking-android, pull requests merged in 2023-01, with the labels that each got.

#911 wait for publisher emissions before performing test assertion
  integration-testing-app/src/androidTest/java/com/ably/tracking/tests/PublisherAndSubscriberTests.kt
Labels: failing-test

#933 Improve `NetworkingConnectivityTest` assertions
  android-test-common/src/main/java/com/ably/tracking/test/android/common/AblyProxy.kt
  android-test-common/src/main/java/com/ably/tracking/test/android/common/Faults.kt
  publishing-sdk/src/androidTest/java/com/ably/tracking/publisher/NetworkConnectivityTests.kt
Labels: important

#944 Fix flakey publisher test
  publishing-sdk/src/androidTest/java/com/ably/tracking/publisher/NetworkConnectivityTests.kt
Labels: failing-test, testing

#949 Increase back-off when querying history in test
  publishing-sdk/src/androidTest/java/com/ably/tracking/publisher/NetworkConnectivityTests.kt
Labels: testing
